* {
    	/* `otf-font-awesome` is required to be installed for icons */
    	font-family: Menlo, Roboto, Helvetica, Arial, sans-serif;
   	font-size: 13px;
	color: #ffffff;
	border: none;
	min-height: 0;
	margin-top: 0px;
}

window#waybar {
	background-color: #000000;
}




.modules-left {
	margin-left: 2px;
	background-color: #000000;
}

.modules-center {
	background-color: #000000;
}

.modules-right {
	margin-right: 13px;
	background-color: #000000;
}



#hyprland-workspaces,
#clock,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#custom-windows {
	padding-top: 0px;
}
