* {
    	/* `otf-font-awesome` is required to be installed for icons */
    	font-family: Menlo, Roboto, Helvetica, Arial, sans-serif;
   	font-size: 12px;
	color: #ffffff;
	padding:0 5px 0 5px;
}

window#waybar {
	background-color: transparent;
}

.modules-left {
	padding-left: 0;
	margin:4px 0px 0px 4px;
	background-color: #000000;
}

.modules-center {
	margin-top: 5px;
	background-color: #000000;
	padding: 10px;
}

.modules-right {
	/*padding:0 20px 0 20px;
	*/
	margin:5px 4px 0px 0px;
	background-color: #000000;
}


