* {
    	font-family: Menlo, Roboto, Helvetica, Arial, sans-serif;
   	font-size: 12px;
	color: #ffffff;
	min-height: 0;
	border: none;
	margin-top: 0px;
}

window#waybar {
	background-color: #000000;
	border: 1px solid;
}

.modules-left {
	border: none;
	margin-left: 8px;
	padding: 0;
	background-color: transparent;
}

.modules-center {
	border: none;
	background-color: #000000;
	background-color: transparent;
}

.modules-right {
	border: none;
	margin-right: 10px;
	background-color: #000000;
	background-color: transparent;
}


#custom-logo,
#workspaces,
#clock,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#mpris,
#tray,
#custom-windows {
	border: 1px solid;
	border-color: whitesmoke;
	background-color: grey;
	margin: 5px 0 5px 0;
	padding: 0 10px 0 10px;
}

#custom-logo {
	padding-right: 13px;
	padding-left: 8px;
}

#mpris {
}
